body {
    margin-top: 13%;
    background-color: #fafafa;
}

.box {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    column-fill: balance-all;
}

.draw-border {
    border-color: #f2f2f2;
    height: 40px;
    width: 25%;
    border-radius: 4px;
    margin-top: 2%;
}

.label-helper {
    position: absolute;
    opacity: 0;
    transition: .2s bottom, .2s opacity;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.draw-border:focus + .label-helper, .draw-border:invalid {
    bottom: 95%;
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    opacity: 1;
    padding: 4px;
    border-color: #3f50b5;
}

.draw-border:invalid {
    border-left: 10px solid #f00;
}

draw-border:invalid + .label-helper::after {
    color: #3f50b5;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px;
}
.conf {
    height: 30px;
    width: 25.3%;
    border-color: #3f50b5;
    background-color: #3f50b5;
    color: white;
    border-radius: 4px;
    margin-top: 2%;
}

h1 {
    font-weight: normal;
    font-size: 25px;
    font-family: Arial;
}
