body{
    background-color: white;
    height: 500%;
}
ul{
    list-style-type: none;
}
th, td{
    width: 150px;
}
.top {
    height: 80px;
}
.bankInfo {
    display: block;
    padding-left: 15px;
}
link {
    text-decoration: none;
}
.redirect{
    padding-left: 15px;
    max-width: 500px;
    max-height: 150px;
}